@use 'src/styles/colors.scss';

#titleContainer {
    padding: 20px 50px;
    border-radius: 20px;
    border: 3px solid colors.$mauve;
    color: colors.$orchid;
    margin: auto;
}

#subheading {
    font-weight: 300;
    color: colors.$orchid;
}

.large-margin-top {
    margin-top: 48px;
}

// Media Queries

@media (min-width: 0) {

    #titleContainer {
        font-size: 28px;
    }

    .large-margin-top {
        margin-top: 48px;
    }

    #subheading {
        font-size: 22px;
        margin-top: 32px;
    }
}


@media (min-width: 768px) {
    #titleContainer {
        max-width: 750px;
        font-size: 40px;
    }

    .large-margin-top {
        margin-top: 96px;
    }

    #subheading {
        font-size: 32px;
        margin-top: 32px;
    }
}

@media (min-width: 1200px) {
    .large-margin-top {
        margin-top: 200px;
    }
}