.card {
    border-color:  #e8c2ca;
}

.image-loading-container {
    background-color: #735d78;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #e8c2ca;
}