<div class="row mt-5">
    <div class="col">
        <app-page-title title="Rock Paper Scissors"></app-page-title>
    </div>
</div>

<!-- game board -->
<div class="row mt-5">

    <!-- buffer -->
    <div class="col-3"></div>

    <!-- player side -->
    <div class="col-1 pe-1 text-center">

        <div class="row mb-2">
            <div class="display-5 name-label">Player</div>
        </div>

        <div
            *ngFor="let move of moves | keyvalue: preserveOrder"
            class="row">
            <ng-container *ngIf="move.value != moves.none">
                <div class="col my-2">
                    <button
                        id="moveBtn_player_{{move.key}}"
                        class="btn btn-dark move-selection-button"
                        (click)="selectMove(move.value)">
                        <fa-icon
                            [icon]="move.value"
                            size="4x">
                        </fa-icon>
                    </button>
                </div>
            </ng-container>

        </div>

    </div>

    <!-- results card -->
    <div class="col-4 px-1">

        <!-- results label -->
        <div class="row text-center">
            <div
                id="results-label"
                class="display-5">
                {{resultsLabels[winner]}}
            </div>
        </div>

        <div
            id="resultsArea"
            class="card text-center">

            <!-- results card -->
            <div class="row">

                <div class="col-6">
                    <button
                        id="playerMoveSelection"
                        class="btn btn-dark result-icon no-click">
                        <fa-icon
                            [icon]="playerMove"
                            size="8x">
                        </fa-icon>
                    </button>
                </div>

                <div class="col-6">
                    <button
                        id="computerMoveSelection"
                        class="btn btn-dark result-icon no-click active">
                        <fa-icon
                            [icon]="computerMove"
                            size="8x">
                        </fa-icon>
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- computer side -->
    <div class="col-1 ps-1 text-center">

        <div class="row mb-2">
            <div class="display-5 name-label">CPU</div>
        </div>

        <div
            *ngFor="let move of moves | keyvalue: preserveOrder"
            class="row">
            <ng-container *ngIf="move.value != moves.none">
                <div class="col my-2">
                    <button
                        id="moveBtn_cpu_{{move.key}}"
                        class="btn btn-dark move-selection-button no-click active">
                        <fa-icon
                            [icon]="move.value"
                            size="4x">
                        </fa-icon>
                    </button>
                </div>
            </ng-container>
        </div>

    </div>

    <!-- buffer -->
    <div class="col-3"></div>
</div>
