@use "src/styles/colors.scss";

.move-selection-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: colors.$orchid;
}

#resetButton {
    color: colors.$dark-plum;
}

#resultsArea {
    margin-top: 2vh;
    padding: 5vh;
    background-color: colors.$orchid;
}

#resultsLabel {
    color: colors.$orchid
}

.result-icon {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    color: colors.$orchid;
}

.no-click {
    pointer-events: none;
}

.name-label {
    color: colors.$orchid;
    font-size: 2em;
    border: 2px solid colors.$mauve;
    border-radius: 2vw;
    padding-top: .5vh;
    padding-bottom: .5vh;
}