<div
    class="card text-center m-auto"
    [style.width.px]="imageWidth">

    <ng-container *ngIf="imageSource else imageLoading">
        <img
            [src]="imageSource"
            alt="Great Picture :)"
            class="card-img-top">
    </ng-container>

    <div class="card-body">
        <h5 class="card-title">Random Image Generator</h5>

        <button
            type="button"
            class="btn btn-outline-dark"
            (click)="getNewImage()">
            Get New Image
        </button>

        <p
            *ngIf="imageLastUpdatedString"
            id="imageLastUpdatedText"
            class="card-text mt-2 text-muted">
            {{ imageLastUpdatedString }}
        </p>
    </div>
</div>

<ng-template #imageLoading>
    <div
        class="card image-loading-container text-center m-auto position-relative"
        [style.width.px]="imageWidth"
        [style.height.px]="imageHeight">
        <fa-icon
            id="spinner-icon"
            class="position-absolute top-50 start-50 translate-middle"
            [icon]="faSpinner"
            [spin]="true"
            size="4x">
        </fa-icon>
    </div>
</ng-template>
